<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="post">
            
            <input type="text" placeholder="Email" name="email">
            <input type="text" placeholder="Password" name="password">
            <button type="submit">login</button>
        </form>
        <p>or</p>
        <p><a href="/register">register yourself</a></p>
    </div>
</body>
</html>